body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.active {
  color:fuchsia;
}

nav ul{
  display: flex;
  list-style: none;
  background-color:darkslategray;
  padding: 10px 0;
}

nav ul li {
  margin-left: 20px;
}

